
@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

$background: #011627;
$line-color: #637777;
$border-rad: 4px;
$black: #575656;
$cyan: #21c7a8;
$tokyo-pink: #fa1593;
$tokyo-blue: #0DD3FE;
$tokyo-blue-mid: #00ccfd;
$tokyo-yellow: #F9BD25;
$tokyo-purple: #2011a2;
$tokyo-light-purple: #cc00ff;
$tokyo-green: #00ffd2;
$tokyo-neon-green: #39FF14;
$test: #6b5b95;
$font-size-mid: 15px;


body {
    background-color: $background;
}

.site-header {
    color: $tokyo-blue;
    font-size: 30px;
    text-align: start;
    font-weight: 900;
    width: 80%;
    margin-top: 30px;

    span {
        font-size: 18px;
        color: $tokyo-pink;
    }
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.user-buttons {
    min-width: 920px;
    height: 60px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    z-index: -2;

    button {
        color: black;
        height: 40px;
        width: 120px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 10px;
        margin-left: 0px;
        margin-right: 20px;
        border-radius: $border-rad;
        border: none;
        font-size: $font-size-mid;
        font-weight: bold;
        cursor: pointer;
        background-color: $tokyo-pink;

        &:hover {
            background-color: $tokyo-green;
        }
    }

    

    .configurations {
        @include flex-column();
        border-radius: $border-rad;
        align-items: center;

        button {
            width: 120px;
            margin-right: 15px;
        }

        h3 {
            font-size: 16px;
            color: white;
        }

        div {
            @include flex-row();
        }
        .arr-range-selector {
            width: 175px;
            height: 50px;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            z-index: 10;

            h4 {
                margin: 0;
                margin-left: 10px;
                margin-bottom: 5px;
                color: $tokyo-pink;
                font-size: 15px;
                line-height: 15px;
            }

            #speed-header {
                margin-left: 40px;
            }

            
    
            input {
                margin-left: 10px;
                width: 100%;
            }

            #speed-control {
                direction: rtl;
                margin-left: 40px;
            }

            div {
                width: 100%;
                @include flex-row();
                justify-content: space-between;
                margin-left: 40px;

                span {
                    color: white;
                    font-size: 12px;
                }
            }
        }
    }

    & .algo-configs {
        height: 100%;
        @include flex-row();
        // justify-content: flex-start;
        align-items: center;
        
        & .run-button {
            padding: 0;
            margin: 0px;
            margin-left: 15px;
            // margin-top: auto;
        }
    }
}

.algo-desc-container {
    max-width: 400px;
    span {
        color: white;
    }
}

.arr-wrap {
    min-width: 600px;
    width: 80%;
    min-height: 550px;
    height: 70%;
    margin-top: 140px;
    // float:inline-end;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    transform: rotate(180deg);
    transform: scale(1, -1);
    justify-content: space-evenly;
    
}


.bar {
    flex: 1;
    display: inline-block;
    margin: 0 1px;
    // transition: 0.1s all ease;

    // @include flex-row();
    // div {
    //     transform: rotate(180deg);
    //     transform: scale(1, -1);
    //     font-weight: bold;
    // }
}

